<div class="card card-body">


	<form class="mt-4" asp-controller="Usuario" asp-action="AlterarPerfil" method="post">

		@Html.ValidationSummary()

		<div class="row mt-5">
			<div class="avatar avatar-xxl mt-n5 mb-3 offset-sm-5">
				<img class="avatar-img rounded-circle border border-white border-3" src="https://social.webestica.com/assets/images/avatar/07.jpg" alt="">
			</div>
		</div>


		<label class="col-form-label">Nome:</label>
		<div class="mb-3 position-relative input-group-lg">
			<input type="text" class="form-control" id="nome" name="nome" placeholder="Informe seu nome" value="@ViewBag.UsuarioLogado.Nome">
		</div>

		<label class="col-form-label">Sobrenome:</label>
		<div class="mb-3 position-relative input-group-lg">
			<input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Informe seu Sobrenome" value="@ViewBag.UsuarioLogado.Sobrenome">
		</div>


		<label class="col-form-label">E-mail:</label>
		<div class="mb-3 position-relative input-group-lg">
			<input type="email" class="form-control" id="email" name="email" placeholder="Informe seu email" value="@ViewBag.UsuarioLogado.Email">
		</div>


		<label class="col-form-label">Telefone:</label>
		<div class="mb-3 position-relative input-group-lg">
			<input type="text" class="form-control" id="telefone" name="telefone" placeholder="Informe seu telefone" value="@ViewBag.UsuarioLogado.Telefone">
		</div>

		<label class="col-form-label">Tipo de Pessoa:</label>
		<div class="mb-3 position-relative input-group-lg">
			<select class="form-select form-control" id="tipoPessoa" name="tipoPessoa" selected="@ViewBag.UsuarioLogado.Tipo">
				<option value="0">Física</option>
				<option value="1">Jurídica</option>
			</select>
		</div>

		<label class="col-form-label">Sexo:</label>
		<div class="mb-3 position-relative input-group-lg">
			<select class="form-select form-control" id="tipoSexo" name="tipoSexo" selected="@ViewBag.UsuarioLogado.Sexo">
				<option value="0">Masculino</option>
				<option value="1">Feminino</option>
			</select>
		</div>

		<label class="col-form-label">CPF/CNPJ:</label>
		<div class="mb-3 position-relative input-group-lg">
			<input type="text" class="form-control" id="documento" name="documento" placeholder="Informe seu documento" value="@ViewBag.UsuarioLogado.Documento">
		</div>

		<label class="col-form-label">Data Comemorativa:</label>
		<div class="mb-3 position-relative input-group-lg">
			<input type="date" class="form-control" id="dataComemorativa" name="dataComemorativa" placeholder="Informe sua Data Comemorativa" value="@ViewBag.UsuarioLogado.DataComemorativa.ToString("yyyy-MM-dd")">
		</div>

		<label class="col-form-label">Bio:</label>
		<div class="mb-3 position-relative input-group-lg">
			<textarea type="text" class="form-control" id="bio" name="bio" placeholder="Informe sua bio" >@ViewBag.UsuarioLogado.Bio</textarea>
		</div>

		<!-- Button -->
		<div class="d-grid">
			<button type="submit" class="btn btn-lg btn-primary-soft">Alterar</button>
		</div>

	</form>
</div>