<div class="card">
	<!-- Cover image -->
	<div class="h-200px rounded-top" style="background-image:url('https://social.webestica.com/assets/images/bg/05.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
	<!-- Card body START -->
	<div class="card-body py-0">
		<div class="d-sm-flex align-items-start text-center text-sm-start">
			<div>
				<!-- Avatar -->
				<div class="avatar avatar-xxl mt-n5 mb-3">
					<img class="avatar-img rounded-circle border border-white border-3" src="data:image/png;base64,@ViewBag.UsuarioSendoVisto?.FotoPerfil" alt="">
				</div>
			</div>
			<div class="ms-sm-4 mt-sm-3">
				<!-- Info -->
				<h1 class="mb-0 h5">@ViewBag.UsuarioSendoVisto?.Nome @ViewBag.UsuarioSendoVisto?.Sobrenome <i class="bi bi-patch-check-fill text-success small"></i></h1>
				<p>@ViewBag.UsuarioSendoVisto?.Amigos?.Count Amigos</p>
			</div>
			<!-- Button -->
            <div class="d-flex mt-3 justify-content-center ms-sm-auto">
                @if(ViewBag.UsuarioSendoVisto?.Id == ViewBag.UsuarioLogado?.Id){
                    <div class="dropdown">
                        <button class="icon-md btn btn-light" type="button" id="profileAction2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Alterar"> <i class="bi bi-gear fa-fw pe-2"></i>Editar Informações</a></li>
                        </ul>
                    </div>
                }
                else if (ViewBag.UsuarioLogado?.UsuarioAmigo(ViewBag.UsuarioSendoVisto?.Id)){
                    <button class="btn btn-danger-soft me-2" type="button"> <i class="fas fa-user-plus pe-1"></i> Remover Amigo </button>
                }
                else {
                    <button class="btn btn-success-soft me-2" type="button"> <i class="fas fa-user-plus pe-1"></i> Adicionar Amigo </button>
                }
            </div>
		</div>
		<!-- List profile -->
		<ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0 mb-3">
			<li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i>@ViewBag.UsuarioSendoVisto?.Cidade / @ViewBag.UsuarioSendoVisto?.Uf.ToString()</li>
            <li class="list-inline-item"><i class="bi bi-cake me-1"></i>@ViewBag.UsuarioSendoVisto?.DataComemorativa.ToString("dd/MM/yyyy")</li>
            <li class="list-inline-item"><i class="bi @((int?)@ViewBag.UsuarioSendoVisto?.Sexo == 0 ? "bi-gender-male" : "bi-gender-female") me-1"></i>@ViewBag.UsuarioSendoVisto?.Sexo</li>
		</ul>
        <div>
            <p>@ViewBag.UsuarioSendoVisto?.Bio</p>
        </div>
	</div>

</div>

<div class="row g-4 mt-3">
	<div class="col-sm-4">
		<div class="card">
			<!-- Card header START -->
			<div class="card-header d-sm-flex justify-content-between align-items-center border-0">
				<h5 class="card-title">Amigos <span class="badge bg-danger bg-opacity-10 text-danger">@ViewBag.UsuarioSendoVisto?.Amigos?.Count</span></h5>
                <a class="btn btn-primary-soft btn-sm" asp-controller="Usuario" asp-action="Amigos"> Ver todos amigos</a>
			</div>
			<!-- Card header END -->
			<!-- Card body START -->
			<div class="card-body position-relative pt-0">
				<div class="row g-3">
                    
                    @foreach(var amigo in @ViewBag.UsuarioSendoVisto?.Amigos){
                        <div class="col-6">
                            <!-- Friends item START -->
                            <div class="card shadow-none text-center h-100">
                                <!-- Card body -->
                                <div class="card-body p-2 pb-0">
                                    <div class="avatar  avatar-xl">
                                        <a asp-controller="Usuario" asp-action="Perfil" asp-route-id="@amigo?.Id"><img class="avatar-img rounded-circle" src="data:image/png;base64,@amigo?.FotoPerfil" alt=""></a>
                                    </div>
                                    <h6 class="card-title mb-1 mt-3"> <a href="#!"> @amigo?.Nome @amigo?.Sobrenome </a></h6>								
                                    <p class="mb-0 small lh-sm mb-3">Clique para ver</p>

                                </div>

                            </div>
                            <!-- Friends item END -->
					    </div>
                    }

				</div>
			</div>
			<!-- Card body END -->
		</div>
	</div>
    <div class="col-lg-8 vstack gap-4">

        <!-- Share feed START -->
        <div class="card card-body">
            <div class="d-flex mb-3">
                <!-- Avatar -->
                <div class="avatar avatar-xs me-2">
                    <a href="#"> <img class="avatar-img rounded-circle" src="https://social.webestica.com/assets/images/avatar/07.jpg" alt=""> </a>
                </div>
                <!-- Post input -->
                <form class="w-100">
                    <input class="form-control pe-4 border-0" placeholder="No que você está pensando?" data-bs-toggle="modal" data-bs-target="#modalCreateFeed">
                </form>
            </div>
            <!-- Share feed toolbar START -->
            <ul class="nav nav-pills nav-stack small fw-normal">
                <li class="nav-item">
                    <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto"> <i class="bi bi-image-fill text-success pe-2"></i>Foto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionVideo"> <i class="bi bi-camera-reels-fill text-info pe-2"></i>Vídeo</a>
                </li>
                <li class="nav-item dropdown ms-sm-auto">
                    <a class="nav-link bg-light py-1 px-2 mb-0" href="#" id="feedActionShare" >
                        <i class="bi bi-send"></i>
                    </a>
                   
                </li>
            </ul>
            <!-- Share feed toolbar END -->
        </div>
        <!-- Share feed END -->
        <!-- Card feed item START -->
        <div class="card">
            <!-- Card header START -->
            <div class="card-header border-0 pb-0">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <div class="avatar  me-2">
                            <a href="#!"> <img class="avatar-img rounded-circle" src="https://social.webestica.com/assets/images/avatar/04.jpg" alt=""> </a>
                        </div>
                        <!-- Info -->
                        <div>
                            <div class="nav nav-divider">
                                <h6 class="nav-item card-title mb-0"> <a href="#!"> Lori Ferguson </a></h6>
                                <span class="nav-item small">2hr</span>
                            </div>
                        </div>
                    </div>
                    <!-- Card feed action dropdown START -->
                    <div class="dropdown">
                        <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <!-- Card feed action dropdown menu -->
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction1">
                            <li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Excluir post</a></li>

                        </ul>
                    </div>
                    <!-- Card feed action dropdown END -->
                </div>
            </div>
            <!-- Card header END -->
            <!-- Card body START -->
            <div class="card-body">
                <p>Decrição do post.</p>
                <!-- Card img -->
                <img class="card-img" src="	https://social.webestica.com/assets/images/post/3by2/01.jpg" alt="Post">
                <!-- Feed react START -->
                <ul class="nav nav-stack py-3 small">
                    <li class="nav-item">
                        <a class="nav-link active" href="#!"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>Curtiu (56)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comentários (12)</a>
                    </li>
                </ul>
                <!-- Feed react END -->
                <!-- Add comment -->
                <div class="d-flex mb-3">
                    <!-- Avatar -->
                    <div class="avatar avatar-xs me-2">
                        <a href="#!"> <img class="avatar-img rounded-circle" src="https://social.webestica.com/assets/images/avatar/12.jpg" alt=""> </a>
                    </div>
                    <!-- Comment box  -->
                    <form class="position-relative w-100">
                        <textarea class="form-control pe-4 bg-light" rows="1" placeholder="Escreva um Comentário..."></textarea>
                    </form>
                </div>
                <!-- Comment wrap START -->
                <ul class="comment-wrap list-unstyled">
                    <!-- Comment item START -->
                    <li class="comment-item">
                        <div class="d-flex position-relative">
                            <!-- Avatar -->
                            <div class="avatar avatar-xs">
                                <a href="#!"><img class="avatar-img rounded-circle" src="https://social.webestica.com/assets/images/avatar/05.jpg" alt=""></a>
                            </div>
                            <div class="ms-2">
                                <!-- Comment by -->
                                <div class="bg-light rounded-start-top-0 p-3 rounded">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="mb-1"> <a href="#!"> Frances Guerrero </a></h6>
                                        <small class="ms-2">5hr</small>
                                    </div>
                                    <p class="small mb-0">Legal!.</p>
                                </div>
                                <!-- Comment react -->
                                <ul class="nav nav-divider py-2 small">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#!">Curtidas (3)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#!"> 
                                            Responder
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#!">Ver 5 Respostas</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Comment item nested START -->
                        <ul class="comment-item-nested list-unstyled">
                            <!-- Comment item START -->
                            <li class="comment-item">
                                <div class="d-flex">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-xs">
                                        <a href="#!"><img class="avatar-img rounded-circle" src="https://social.webestica.com/assets/images/avatar/06.jpg" alt=""></a>
                                    </div>
                                    <!-- Comment by -->
                                    <div class="ms-2">
                                        <div class="bg-light p-3 rounded">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="mb-1"> <a href="#!"> Lori Stevens </a> </h6>
                                                <small class="ms-2">2hr</small>
                                            </div>
                                            <p class="small mb-0">Show.</p>
                                        </div>
                                        <!-- Comment react -->
                                        <ul class="nav nav-divider py-2 small">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#!"> Curtidas (5)</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#!"> Responder</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Comment item END -->
                            <!-- Comment item START -->
                            <li class="comment-item">
                                <div class="d-flex">
                                    <!-- Avatar -->
                                    <div class="avatar  avatar-xs">
                                        <a href="#!"><img class="avatar-img rounded-circle" src="https://social.webestica.com/assets/images/avatar/07.jpg" alt=""></a>
                                    </div>
                                    <!-- Comment by -->
                                    <div class="ms-2">
                                        <div class="bg-light p-3 rounded">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="mb-1"> <a href="#!"> Billy Vasquez </a> </h6>
                                                <small class="ms-2">15min</small>
                                            </div>
                                            <p class="small mb-0">Hahahaha.</p>
                                        </div>
                                        <!-- Comment react -->
                                        <ul class="nav nav-divider py-2 small">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#!"> Curitr</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#!"> Responder</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Comment item END -->
                        </ul>
                        <!-- Load more replies -->
                        <a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5" data-bs-toggle="button" aria-pressed="true">
                            <div class="spinner-dots me-2">
                                <span class="spinner-dot"></span>
                                <span class="spinner-dot"></span>
                                <span class="spinner-dot"></span>
                            </div>
                            Carregar mais comentários
                        </a>
                        <!-- Comment item nested END -->
                    </li>
                    <!-- Comment item END -->
                    <!-- Comment item START -->
                    <li class="comment-item">
                        <div class="d-flex">
                            <!-- Avatar -->
                            <div class="avatar avatar-xs">
                                <a href="#!"><img class="avatar-img rounded-circle" src="https://social.webestica.com/assets/images/avatar/05.jpg" alt=""></a>
                            </div>
                            <!-- Comment by -->
                            <div class="ms-2">
                                <div class="bg-light p-3 rounded">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="mb-1"> <a href="#!"> Frances Guerrero </a> </h6>
                                        <small class="ms-2">4min</small>
                                    </div>
                                    <p class="small mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection.</p>
                                </div>
                                <!-- Comment react -->
                                <ul class="nav nav-divider pt-2 small">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#!"> Curtidas (1)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#!"> Respostas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#!"> Ver 6 Respostas</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- Comment item END -->
                </ul>
                <!-- Comment wrap END -->
            </div>
            <!-- Card body END -->
            <!-- Card footer START -->
            <div class="card-footer border-0 pt-0">
                <!-- Load more comments -->
                <a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center" data-bs-toggle="button" aria-pressed="true">
                    <div class="spinner-dots me-2">
                        <span class="spinner-dot"></span>
                        <span class="spinner-dot"></span>
                        <span class="spinner-dot"></span>
                    </div>
                    Carregar mais comentários
                </a>
            </div>
            <!-- Card footer END -->
        </div>
        <!-- Card feed item END -->

    </div>
</div>
